Repository idaholab/raven, pull requests merged in 2018-05, with the labels that each got.

#630 exposed RNG to RAVEN python...swig
  backend_run_tests
  crow/.gitignore
  crow/config.mk
  crow/crow_modules/randomENGpy2.i
  crow/crow_modules/randomENGpy3.i
  crow/crow_python_modules.mk
  crow/setup.py
  crow/setup3.py
  framework/Distributions.py
  framework/Samplers/MonteCarlo.py
  framework/SupervisedLearning.py
  framework/utils/randomUtils.py
  framework/utils/utils.py
  tests/crow/crowTestUtils.py
  tests/crow/test_cellProbabilityWeight.py
  tests/crow/test_eigen_svd.py
  tests/crow/test_geometric.py
  tests/crow/test_inverseMarginalForPCA.py
  tests/crow/test_inverse_transformation_matrix.py
  tests/crow/test_laplace.py
  tests/crow/test_marginalCdfForPCA.py
  tests/crow/test_mvn_pca.py
  tests/crow/test_normal.py
  tests/crow/test_pca_index.py
  tests/crow/test_reduction.py
  tests/crow/test_svd_index.py
  tests/crow/test_symmetric_psd.py
  tests/crow/test_transformationMatrix.py
  tests/crow/test_transformationMatrix_index.py
  tests/crow/test_utils.py
  tests/framework/unit_tests/utils/testRandomUtils.py
Labels: improvement, new-dataobject-structure, priority_normal

#649 Mandd/log uniform dist
  developer_tools/XSDSchemas/Distributions.xsd
  doc/user_manual/ProbabilityDistributions.tex
  framework/Distributions.py
  framework/TestDistributions.py
  tests/framework/Distributions/gold/test_log10Uniform/1-histogramX_histogram.png
  tests/framework/Distributions/gold/test_log10Uniform/1-histogramY_histogram.png
  tests/framework/Distributions/gold/test_log10Uniform/1-lineAnalytical_line.png
  tests/framework/Distributions/gold/test_log10Uniform/MC_dump.csv
  tests/framework/Distributions/gold/test_log10Uniform/README.txt
  tests/framework/Distributions/gold/test_logUniform/1-histogramX_histogram.png
  tests/framework/Distributions/gold/test_logUniform/1-histogramY_histogram.png
  tests/framework/Distributions/gold/test_logUniform/1-lineAnalytical_line.png
  tests/framework/Distributions/gold/test_logUniform/MC_dump.csv
  tests/framework/Distributions/gold/test_logUniform/README.txt
  tests/framework/Distributions/test_distributionsLog10Uniform.xml
  tests/framework/Distributions/test_distributionsLogUniform.xml
  tests/framework/Distributions/test_log10Uniform/analytical.csv
  tests/framework/Distributions/test_log10Uniform/simpleExp10.py
  tests/framework/Distributions/test_logUniform/analytical.csv
  tests/framework/Distributions/test_logUniform/simpleExp.py
  tests/framework/Distributions/tests
  tests/framework/PostProcessors/BasicStatistics/test_timedep_out_csv.xml
  tests/framework/PostProcessors/TemporalDataMiningPostProcessor/DimensionalityReduction/gold/MultiDimensionalScaling/dummy_0.csv
  tests/framework/PostProcessors/TemporalDataMiningPostProcessor/DimensionalityReduction/gold/MultiDimensionalScaling/dummy_149.csv
  tests/framework/PostProcessors/TemporalDataMiningPostProcessor/DimensionalityReduction/gold/MultiDimensionalScaling/dummy_74.csv
  tests/framework/PostProcessors/TemporalDataMiningPostProcessor/DimensionalityReduction/test_tdmSKLearnMultiDimensionalScaling.xml
  tests/framework/PostProcessors/TemporalDataMiningPostProcessor/DimensionalityReduction/tests
  tests/framework/ROM/TimeSeries/tests
Labels: improvement, priority_critical

#646 pre-merge review comments addressed: framework/DataObjects
  doc/misc/dataobject-rework.pptx
  framework/DataObjects/DataObject.py
  framework/DataObjects/DataSet.py
  framework/DataObjects/Factory.py
  framework/DataObjects/HistorySet.py
  framework/DataObjects/PointSet.py
Labels: new-dataobject-structure

#653 LU fix
  framework/Distributions.py
  tests/framework/Distributions/gold/test_log10Uniform/MC_dump.csv
  tests/framework/Distributions/gold/test_logUniform/MC_dump.csv
  tests/framework/Distributions/test_distributionsLog10Uniform.xml
  tests/framework/Distributions/test_distributionsLogUniform.xml
Labels: improvement, priority_critical

#621 Added Cobra TF Interface + Documentation and tests
  doc/user_manual/existing_interfaces.tex
  framework/CodeInterfaces/CobraTF/CTFinterface.py
  framework/CodeInterfaces/CobraTF/CTFparser.py
  framework/CodeInterfaces/CobraTF/ctfdata.py
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest1/case5-15.inp
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest1/testDummyStep_MC/1/case5-15.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest1/testDummyStep_MC/2/case5-15.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest2/small_3x3rod_HFP.inp
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest2/testDummyStep_Grid/1/small_3x3rod_HFP.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest2/testDummyStep_Grid/2/small_3x3rod_HFP.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest2/testDummyStep_MC/1/small_3x3rod_HFP.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/CobraTFinterfaceTest2/testDummyStep_MC/2/small_3x3rod_HFP.ctf.out
  tests/framework/CodeInterfaceTests/CobraTF/gold/CobraTFinterfaceTest1/cobra_out.csv
  tests/framework/CodeInterfaceTests/CobraTF/gold/CobraTFinterfaceTest2/cobra_out.csv
  tests/framework/CodeInterfaceTests/CobraTF/gold/CobraTFinterfaceTest2/testDummyStep_Grid/2/small_3x3rod_HFP.inp
  tests/framework/CodeInterfaceTests/CobraTF/test1_cobratf_code_interface.xml
  tests/framework/CodeInterfaceTests/CobraTF/test2_cobratf_code_interface.xml
  tests/framework/CodeInterfaceTests/CobraTF/tests
Labels: external interfaces, improvement, priority_normal
