Repository idaholab/raven, pull requests merged in 2018-04, with the labels that each got.

#605 Constants available in Optimizer SolutionExport
  framework/Optimizers/GradientBasedOptimizer.py
  tests/framework/Optimizers/gold/Verbose/opt_export.csv
  tests/framework/Optimizers/verbose.xml
Labels: improvement, priority_normal

#590 Add "long" data type compatability
  framework/DataObjects/TestXDataSet.py
  framework/DataObjects/TestXHistorySet.py
  framework/DataObjects/TestXPointSet.py
  framework/DataObjects/XDataSet.py
  framework/DataObjects/XHistorySet.py
  framework/utils/mathUtils.py
  scripts/TestHarness/testers/RavenFramework.py
  scripts/TestHarness/testers/UnorderedCSVDiffer.py
  tests/framework/PostProcessors/BasicStatistics/tests
  tests/framework/PostProcessors/DataMiningPostProcessor/Clustering/test_TD_MeanShift.xml
  tests/framework/PostProcessors/DataMiningPostProcessor/Clustering/tests
  tests/framework/Samplers/DynamicEventTrees/gold/DETshort/output_collapsed/testprint_hist_collapsed.csv
  tests/framework/utils/testMathUtils.py
Labels: new-dataobject-structure

#603 nested XML reading
  framework/utils/xmlUtils.py
  tests/framework/ExternalXMLTest/external_print.xml
  tests/framework/test_External_XML.xml
Labels: new-dataobject-structure

#608 Alfoa/scale6.2
  developer_tools/XSDSchemas/Samplers.xsd
  doc/user_manual/existing_interfaces.tex
  framework/CodeInterfaces/SCALE/ScaleInterface.py
  framework/CodeInterfaces/SCALE/tritonAndOrigenData.py
  framework/Samplers/CustomSampler.py
  scripts/copy_plugins_tests.py
  tests/framework/CodeInterfaceTests/Scale/SCALE_origen/origen_mass.inp
  tests/framework/CodeInterfaceTests/Scale/SCALE_origen/sampleScale/1/origen_mass.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_origen/sampleScale/2/origen_mass.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton/sampleScale/1/triton_dv1a.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton/sampleScale/2/triton_dv1a.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton/triton_dv1a.inp
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/burning_time_computation.py
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/decay_origen.inp
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/input_triton.inp
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/sampleScale/1/decay_origen.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/sampleScale/1/input_triton.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/sampleScale/2/decay_origen.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/sampleScale/2/input_triton.out
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/samples.csv
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/u235_density_computation.py
  tests/framework/CodeInterfaceTests/Scale/SCALE_triton_origen_combined/u238_density_computation.py
  tests/framework/CodeInterfaceTests/Scale/gold/SCALE_origen/output_time_evolution.csv
  tests/framework/CodeInterfaceTests/Scale/gold/SCALE_triton/output_time_evolution.csv
  tests/framework/CodeInterfaceTests/Scale/gold/SCALE_triton_origen_combined/output_time_evolution.csv
  tests/framework/CodeInterfaceTests/Scale/test_scale_combined_forward.xml
  tests/framework/CodeInterfaceTests/Scale/test_scale_origen_forward.xml
  tests/framework/CodeInterfaceTests/Scale/test_scale_triton_forward.xml
  tests/framework/CodeInterfaceTests/Scale/tests
  tests/framework/tests
Labels: external interfaces, improvement, new-dataobject-structure, priority_normal

#579 PolyExponential, Spline and DMD ROMs
  crow/src/utilities/NDspline.cxx
  doc/user_manual/raven_user_manual.bib
  doc/user_manual/rom.tex
  framework/DataObjects/DataSet.py
  framework/Files.py
  framework/LearningGate.py
  framework/Models/ROM.py
  framework/OutStreams/OutStreamPrint.py
  framework/SupervisedLearning.py
  framework/utils/mathUtils.py
  framework/utils/utils.py
  tests/framework/ROM/TensorSpline/gold/gridSpline/outputSpline_dump.csv
  tests/framework/ROM/TensorSpline/gold/noGridSpline/outputSpline_dump.csv
  tests/framework/ROM/TensorSpline/tensor_spline_grid.xml
  tests/framework/ROM/TensorSpline/tensor_spline_no_grid_mc.xml
  tests/framework/ROM/TensorSpline/tests
  tests/framework/ROM/TimeSeries/ARMA/ARMA/dataSet.csv
  tests/framework/ROM/TimeSeries/ARMA/ARMA/dataSet.xml
  tests/framework/ROM/TimeSeries/ARMA/ARMA/dataSet_0.csv
  tests/framework/ROM/TimeSeries/ARMA/arma_reseed_precursor.xml
  tests/framework/ROM/TimeSeries/ARMA/arma_reseed_test.xml
  tests/framework/ROM/TimeSeries/ARMA/gold/ARMA/writeSynDataOut.csv
  tests/framework/ROM/TimeSeries/ARMA/gold/ARMA/writeSynDataOut.xml
  tests/framework/ROM/TimeSeries/ARMA/gold/ARMA/writeSynDataOut_0.csv
  tests/framework/ROM/TimeSeries/ARMA/gold/ARMAparallel/results_0.csv
  tests/framework/ROM/TimeSeries/ARMA/gold/ARMAparallel/writeSynDataOut_0.csv
  tests/framework/ROM/TimeSeries/ARMA/test_ARMA.xml
  tests/framework/ROM/TimeSeries/ARMA/test_ARMA_parallel.xml
  tests/framework/ROM/TimeSeries/ARMA/tests
  tests/framework/ROM/TimeSeries/DMD/gold/HighOrderDMD/outputDMD/outputDMDHighOrder_0.csv
  tests/framework/ROM/TimeSeries/DMD/gold/TraditionalDMD/outputDMD/outputDMDtraditional_0.csv
  tests/framework/ROM/TimeSeries/DMD/test_high_order_dmd.xml
  tests/framework/ROM/TimeSeries/DMD/test_traditional_dmd.xml
  tests/framework/ROM/TimeSeries/DMD/tests
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_12.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_14.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_15.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_24.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_26.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_27.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_36.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_38.csv
  tests/framework/ROM/TimeSeries/PolyExponential/data/decay_heat_39.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpNearest/outputPoly/outputPolyNearest.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpNearest/outputPoly/outputPolyNearest_0.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpPoly/outputPoly/outputPolyPoly.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpPoly/outputPoly/outputPolyPoly_0.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpSpline/outputPoly/outputPolySpline.csv
  tests/framework/ROM/TimeSeries/PolyExponential/gold/PolyExpSpline/outputPoly/outputPolySpline_0.csv
  tests/framework/ROM/TimeSeries/PolyExponential/test_poly_exponential_nearest.xml
  tests/framework/ROM/TimeSeries/PolyExponential/test_poly_exponential_poly.xml
  tests/framework/ROM/TimeSeries/PolyExponential/test_poly_exponential_spline.xml
  tests/framework/ROM/TimeSeries/PolyExponential/tests
  tests/framework/pca_adaptive_sgc/gold/Adaptive/dump.xml
  tests/framework/pca_adaptive_sgc/gold/attenuation/stats_td1.xml
  tests/framework/pca_adaptive_sgc/test_adaptive_sgc_poly_correlation.xml
  tests/framework/pca_sparseGridCollocation/gold/attenuation/stats_td1.xml
  tests/framework/pca_sparseGridCollocation/gold/polynomial/stats_td1.xml
Labels: improvement, new-dataobject-structure, priority_normal
