Repository idaholab/raven, pull requests merged in 2019-08, with the labels that each got.

#1016 move cross validation from HybridModel to ROMs
  framework/LearningGate.py
  framework/Models/HybridModel.py
  framework/Models/ROM.py
  framework/PostProcessors/CrossValidation.py
  scripts/conversionScripts/toROMCrossValidation.py
  tests/cluster_tests/InternalParallel/test_hybrid_model_code.xml
  tests/cluster_tests/InternalParallel/test_hybrid_model_external.xml
  tests/framework/ROM/SKLearn/tests
  tests/framework/hybridModel/test_code.xml
  tests/framework/hybridModel/test_hybrid_model.xml
  tests/framework/hybridModel/test_rom_rom.xml
  tests/framework/hybridModel/test_train_rom.xml
Labels: FutureRAVENv2.0, comments addressed

#1020 Add --unkillable to ignore SIGTERM
  rook/main.py
Labels: ROOK

#994 Adding the ability to process numbers in text files.
  doc/.gitignore
  rook/DiffUtils.py
  rook/NumTextDiff.py
  rook/TextDiff.py
  rook/XMLDiff.py
  tests/.gitignore
  tests/framework/.gitignore
  tests/framework/ROM/Sobol/tests
  tests/reg_self_tests/create_text_file.py
  tests/reg_self_tests/create_text_file2.py
  tests/reg_self_tests/gold/text_test.txt
  tests/reg_self_tests/gold/text_test2.txt
  tests/reg_self_tests/tests
Labels: ROOK

#1035 Cogljj/rook config
  developer_tools/rook.ini
  rook/doc/rook.tex
  rook/main.py
  run_tests
Labels: ROOK, task
